In [1]:
import pandas as pd
import numpy as np

### Tournament/Country Analysis

In [2]:
all_data = pd.read_csv('raw_data/international_matches.csv')
all_data.head()

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
all_data = all_data.drop(columns=['home_team_goalkeeper_score', 'away_team_goalkeeper_score', 'home_team_mean_defense_score', 'away_team_mean_defense_score', 'home_team_mean_offense_score', 'away_team_mean_offense_score', 'home_team_mean_midfield_score', 'away_team_mean_midfield_score'])
all_data.head()

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,away_team_score,tournament,city,country,neutral_location,shoot_out,home_team_result
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,1,FIFA World Cup qualification,La Paz,Bolivia,False,No,Win
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,1,Friendly,Maceió,Brazil,False,No,Draw
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,0,FIFA World Cup qualification,Quito,Ecuador,False,No,Win
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,0,Friendly,Conakry,Guinea,False,No,Win
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,3,FIFA World Cup qualification,Asunción,Paraguay,False,No,Lose

In [ ]:
all_data['better_team_win'] = (all_data.)

### EA Team Rating Analysis

In [16]:
ea_fifa_data = all_data.dropna()
ea_fifa_data['home_team_mean_total_score'] = round(((ea_fifa_data.home_team_goalkeeper_score + ea_fifa_data.home_team_mean_defense_score + ea_fifa_data.home_team_mean_midfield_score + ea_fifa_data.home_team_mean_offense_score)/4), 1)
ea_fifa_data['away_team_mean_total_score'] = round(((ea_fifa_data.away_team_goalkeeper_score + ea_fifa_data.away_team_mean_defense_score + ea_fifa_data.away_team_mean_midfield_score + ea_fifa_data.away_team_mean_offense_score)/4), 1)

C:\Users\dejans.THOMASPUMP\AppData\Local\Temp\ipykernel_5512\4194663519.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ea_fifa_data['home_team_mean_total_score'] = round(((ea_fifa_data.home_team_goalkeeper_score + ea_fifa_data.home_team_mean_defense_score + ea_fifa_data.home_team_mean_midfield_score + ea_fifa_data.home_team_mean_offense_score)/4), 1)
C:\Users\dejans.THOMASPUMP\AppData\Local\Temp\ipykernel_5512\4194663519.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ea_fifa_data['away_team_mean_total_score'] = round(((ea_fifa_data.away_team_goalkeeper_score + ea_fifa_data.away_team_mean_defense_score + ea_fifa_data.away_team_mean_midfield_score + ea_fifa_data.away_team_mean_offense_score)/4), 1)

In [17]:
ea_fifa_data

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score,home_team_mean_total_score,away_team_mean_total_score
8264,2004-09-03,Spain,Scotland,Europe,Europe,3,67,0,0,1,...,94.0,84.0,86.5,89.3,89.5,80.2,79.7,81.8,89.8,81.4
8266,2004-09-04,Austria,England,Europe,Europe,90,7,0,0,2,...,83.0,88.0,76.2,73.0,74.0,90.5,88.7,91.2,76.6,89.6
8271,2004-09-04,Croatia,Hungary,Europe,Europe,25,76,0,0,3,...,77.0,74.0,80.5,78.7,79.0,71.8,75.7,70.2,78.8,72.9
8276,2004-09-04,Iceland,Bulgaria,Europe,Europe,80,41,0,0,1,...,78.0,78.0,68.8,77.0,69.2,70.5,79.7,78.5,73.2,76.7
8278,2004-09-04,Italy,Norway,Europe,Europe,9,38,0,0,2,...,97.0,79.0,91.8,92.3,87.5,79.2,81.3,79.0,92.2,79.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23909,2022-06-14,Poland,Belgium,Europe,Europe,26,2,1544,1827,0,...,87.0,89.0,75.2,84.7,75.8,80.8,85.7,85.5,80.7,85.2
23911,2022-06-14,Ukraine,Republic of Ireland,Europe,Europe,27,47,1535,1449,1,...,75.0,75.0,74.8,78.7,80.0,76.5,72.7,73.8,77.1,74.5
23912,2022-06-14,Bosnia and Herzegovina,Finland,Europe,Europe,59,57,1388,1406,3,...,76.0,83.0,74.2,77.0,78.0,70.0,72.3,73.5,76.3,74.7
23913,2022-06-14,Romania,Montenegro,Europe,Europe,48,70,1446,1342,0,...,77.0,65.0,73.5,73.7,75.0,76.2,74.7,68.2,74.8,71.0
23918,2022-06-14,Chile,Ghana,South America,Africa,28,60,1526,1387,0,...,79.0,74.0,75.5,76.7,78.2,75.5,76.0,78.2,77.4,75.9

In [15]:
len(all_data.home_team.unique())

211